*{
  padding: 0;
  margin: 0;
  
}
:root{
  --BG-black:#2b2b2b;
  --BG-gray:#BFBFBF;
  --BG-orange-1:#BF0F1E;
  --BG-orange-2:#F23D3D;
  --BG-blue:#0072F5;
  --BG-lago:#579AF2;
  --COLOR-whait:rgb(239, 239, 239);
  --COLOR-dark:rgb(71, 71, 71);
}

body {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--BG-black);
  color: var(--COLOR-whait);
}
header{
  height: 4rem;
  background-color: var(--BG-blue);
  display: grid;
  grid-template-columns: 1fr 3fr 4fr 4fr;
}
/* Titulos */
h1{
  color: var(--COLOR-whait);
  text-align: center;
}
header>h1{
  display: grid;
  place-content: center;
}
section h1{
  text-align: left;
}
/* Listas */
ul{
  padding-left: 2rem;
}
/* Link */
a {
  color: #00B7FF;
}
/* contenedores */
article{
  border-radius: .5rem;
  padding: 1rem;
}
/* Separadores */
hr{
  height: 1rem;
  background-color: var(--BG-black);
}
/*  ---------- CLASES */
.contenedor0{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--BG-blue);
}
.contenedor1{
  margin: 1rem;
  padding: .5rem;
}
.ejemplo{
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: 6rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  background-color: var(--BG-orange-1);
  border-radius: .7rem;
  margin: .5rem;
  padding: 1rem;
}

.ejemplo>*{
  display: grid;
  place-content: center;
  border-radius: .7rem;
  margin: .5rem;
  padding: .5rem;
}
.text{
  background-color: var(--BG-orange-2);
  color: var(--COLOR-whait);
}
.code{
  background-color: rgb(223, 223, 223);
  color: var(--COLOR-dark);
}
.result{
  background-color: var(--BG-lago);
  color: var(--COLOR-dark)
}
.sombra{
  box-shadow: 0 0 1rem #2b2b2b;
}
.hbsTop{
  display: grid;
  place-content: center;
}
.hbsTop>img{
  position: relative;
  transform: translateY(2rem) rotate(25deg);
  width: 15rem;
}